.upp{
    display: flex;
    height:30px;
    width:250px;
    /* border:1px solid black; */
    margin:30px 30px;
    gap:7px;
    color:rgb(97, 95, 95);
}

.fun{
    height: 90px;
    width: 300px;
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dom{
    display: flex;
    height:30px;
    width:250px;
    /* border:1px solid black; */
    margin:30px 30px;
    gap:7px;
    color:rgb(97, 95, 95);
}

.tun{
    height: 90px;
    width: 300px;
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topp{
    display: flex;
    justify-content:center;
    width: 80%;
    height: 100px;
    gap:50px;
    /* border:1px solid black; */
    margin: auto;
    margin-top: 40px;
}

.mat{
    display: flex;
    width:60%;
    height:100px;
    /* border:1px solid black; */
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    gap:50px;
}

.topmat{
    width:100%;
    height:180px;
    border:rgb(242, 242, 247);
    margin: auto;
    background-color:rgb(242, 242, 247)
}

.act{
    height:40px;
    width:200px;
    margin-top: 30px;
    background-color:orange;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.pact{
    height:40px;
    width:200px;
    margin-top: 30px;
    background-color:rgba(111, 23, 194, 0.872);
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.chef{
    display: flex;
    /* border:1px solid black; */
    margin-left: 30px;
    margin-top: 15px;
    gap:20px;
}

.tochef{
    height:90px;
    width:350px;
    border: 1px solid rgb(233, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.step{
    width:50px;
    height:50px;
}

.boxx{
    display:grid;
    width:50%;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
}


.bun{
    height:300px;
    width:100%;
    margin-top: 180px;
    text-align:left;
    margin-left: 150px;
    
}

.hut{
    display:flex;
    margin-top:50px;
    background-color:rgb(236, 236, 244);
}

.gouri{
    width: 400px;
    height:250px;
    border:1px solid black;
   

    
}

.chini{
    display: flex;
    width: 80%;
    margin: auto;
    gap:40px;
}