

.topreg{
    height: 80px;
    text-align: left;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
   
}


.emptydiv{
    height: 60px;
    background-color: grey;

}
.cont1{
   
   height:500px;
   width: 1100px;
   margin: auto;
   padding-left: 0px;
   text-align: left;
   box-shadow: 0px 0px 2px 2px rgb(252,248,248);
margin-top: 10px;
display: flex;

border: rgb(215,215,215) solid 1px;
margin-top: 50px;


}

.cont2{
    height: 400px;
 width: 400px;
 text-align: left;
 border: rgb(215,215,215) solid 1px;
margin-top: 50px;
box-shadow: 0px 0px 2px 2px rgb(252,248,248);
margin-left: 50px;

}

.cont3{
    height: 400px;
    width: 600px;
    text-align: left;
    border: rgb(215,215,215) solid 1px;
   margin-top: 50px;
   box-shadow: 0px 0px 2px 2px rgb(252,248,248);
   margin-left: 50px;
   
}

.cont31{
display:flex;

height: 100px;
width: 80%;
margin: 20px 0 0 100px;

 
}
.cont31img{
  
    background: url("https://static1.shine.com/c/s1/images/candidate/new/home_new.png?b8c9dda564a1");

    background-position: -222px -126px;
    margin-bottom: 22px;
}