
.talentbox{
    width: 910px;
    height: 150px;
    margin-left: 152px;
    border-radius: 10px;
    background-color: darkmagenta;
    color: white;
    margin-top: 10px;
   
    border:1px solid blue
    
    
}
.talentpara{
    margin-top: 15px;
}

.talenthead{
    margin-left: -750px;
    font-size: large;
}
.flex{
    display: flex;
}
.maincontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 93%;
    gap: 35px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 150px;
    padding-top: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.heading{
    font-size: x-large;
    color: black;
    font-weight: bold;
}
.name{
    margin-left: -300px;
    margin-top: 10px;
    color: #333333;
    font-size: 20px;
}

.rightbox{
    /* margin-left: 1080px;
    margin-top: -2285px; */
    margin-right: 100px;
    width: 275px;
    /* height: 1500px; */
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rightdiv{
    display: flex;
    gap: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.rigthdiv1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cont{
    font-size: xx-large;
    font-weight: 500;
    
}